* {
  box-sizing: border-box;
}

.header-container {
  width: 1135px;
  margin: 0 auto;
  border: solid 3px blue;
}

header {
  height: 60px;
  border-bottom: color lightgrey 1px;
}

header > div {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

header img {
  height: 40px;
}

.navigation-header {
  display: flex;
  justify-content: centerspace-between;
}

.navigation-header a:not(:first-child) {
  margin-left: 20px;
}

.navigation-header button {
  margin-left: 20px;
  background-color: black;
  color: white;
  border-radius: 15px;
  height: 40px;
  width: 148px;
}

.navigation-header a {
  padding: 10px;
  border-radius: 18px;
}

.navigation-header a:hover {
  background-color: lightgray;
}

.navigation-header a {
  color: black;
  font-weight: bold;
}

main {
  padding-top: 100px;
}

.navigation-menu {
  display: flex;
  gap: 10px;
  margin-bottom: 100px;
  text-align: center;
}

h1 > span {
  color: red;
}

h1 {
  line-height: 40px;
}

.container {
  width: 1135px;
  margin: 0 auto;
  border: solid red 3px;
}
.navigation-menu > div {
  flex: 1;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  height: 60px;
  border: 1px solid black;
  font-weight: bold;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.pictures {
  height: 430px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.left-bloc {
  height: 100%;
  flex: 1;
}

.right-bloc {
  width: 480px;
  height: 100%;
}

.right-bloc > div {
  height: calc(50% - 1px);
  width: 100%;
}

.right-bloc div:first-child {
  margin-bottom: 2px;
}
