* {
  box-sizing: border-box;
}

.header-container {
  width: 1135px;
  margin: 0 auto;
  border: solid 3px blue;
}

header {
  height: 100px;
  border-bottom: color lightgrey 1px;
}

header > div {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

header img {
  height: 35%;
  width: 35%;
  object-fit: cover;
}

.navigation-header {
  display: flex;
  justify-content: centerspace-between;
}

.navigation-header a:not(:first-child) {
  margin-left: 20px;
}

.navigation-header button {
  margin-left: 20px;
  margin-top: 20px;
  background-color: black;
  color: white;
  border-radius: 15px;
  height: 40px;
  width: 148px;
}

.navigation-header a {
  padding: 10px;
  border-radius: 18px;
}

.navigation-header a:hover {
  background-color: lightgray;
}

.navigation-header a {
  color: black;
  font-weight: bold;
}

main {
  padding-top: 100px;
}

.navigation-menu {
  display: flex;
  gap: 10px;
  margin-bottom: 100px;
  text-align: center;
}

h1 > span {
  color: red;
}

h1 {
  line-height: 100px;
}

.container {
  width: 1135px;
  margin: 0 auto;
  border: solid red 3px;
}
.navigation-menu > div {
  flex: 1;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  height: 60px;
  border: 1px solid black;
  font-weight: bold;
}

img {
  height: 100%;
  flex: 1;

  object-fit: cover;
}
.pictures {
  display: flex;
  height: 430px;
  margin-bottom: 10px;
  gap: 2px;
}

.left-bloc {
  height: 100%;
  object-position: left;
  object-fit: cover;
  flex: 1;
}

.left-bloc img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.right-bloc {
  height: 100%;
  width: 480px;
}
.right-bloc img {
  height: 50%;
  width: 100%;
}

.right-bloc > div {
  height: calc(50% - 1px);
  width: 100%;
}

.right-bloc div:first-child {
  margin-bottom: 2px;
}

.seconde-section {
  height: 100%;
  margin-bottom: 100px;
  display: flex;
  border: solid color green 2px;
  justify-content: space-between;
}

.second-section-container {
  width: 70%;
  padding-right: 10%;
  margin-top: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

.map-text img {
  height: 50%;
  width: 100%;
}

.bloc-map {
  display: flex;
  width: 50%;
}

.bloc-map {
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 100px;
}

.map-text {
  padding: 20px;
  background-color: red;
  font-family: Trip sans-serif;
  font-size: 32px;
}
.map-text h3 {
  font-family: Trip sans-serif;
  font-size: 32px;
}

.map-text p {
  font-size: 16px;
}
.map-text button {
  margin-left: 15px;
  margin-top: 20px;
  background-color: black;
  color: white;
  border-radius: 15px;
  height: 50px;
  width: 148px;
}

.map-text img {
  height: 100%;
  object-fit: cover;
}
