* {
  box-sizing: border-box;
}

.header-container {
  width: 1920;
  margin: 0;
}

header {
  height: 60px;
  border-bottom: color lightgrey 1px;
}

header > div {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

header img {
  height: 40px;
}

.navigation-header a:not(:first-child) {
  margin-left: 20px;
}

.navigation-header button {
  margin-left: 20px;
  background-color: black;
  color: white;
  border-radius: 15px;
  height: 40px;
  width: 148px;
}

.navigation-header a {
  padding: 10px;
  border-radius: 18px;
}

.navigation-header a:hover {
  background-color: lightgray;
}
